{% extends 'base.html' %} {% load widget_tweaks %}{% block body %}
<div id="editprofile-form" class="container">
    <form class="border border-primary rounded" method="POST">
        <h5>Edit Profile</h5>
        {% csrf_token %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% for field in form.visible_fields %}
        <div class="form-group {{field.label}}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field|add_class:'form-control' }} {% for error in field.errors %}
            <span class="help-block">{{ error }}</span> {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
        <a href="../"><button class="btn btn-outline-warning btn-sm">Back</button></a>
    </form>
</div>
{% endblock %}