{% extends 'base.html' %} {% load static %}{% block body%}
<div id="home-body">
    <div id="home-bar">
        <div id="heading">
            <h5>{{ user.first_name }}'s CryptoDash</h5>
            <img src="{% static 'dashboard/img/' %}{{ flag_url }}" class="img-fluid" width="42px;">
        </div>
    </div>
    <div id='data-results'>
        <div class='container-fluid'>
            <div class="row">
                <div class="col">
                    {% for key, value in coins.items %}
                    <div class="card">
                        <img class="card-img-top" src="{% static 'dashboard/img/' %}{{key}}512.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ key }}</h5>
                            <p class="card-text">${{ value }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last Update: {{ timestamp }}</small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}